*{
    box-sizing: border-box;
}

html{
    background-color: #1F2232;
}

.header-taiyaki{
    background-color: #596475;
    color: whitesmoke;
    text-align: center;
    font-size: 100px;
    font-style: italic;
    width: 100%;
    padding: 0px;
}

.recipe-description{
    margin: 20px;
    padding 10ox;
    font-size: 30px;
    color:beige
}

img{
    margin: auto;
    height: 10%;
    width: 70%;
    border-radius: 20px;
}

.ingredients, .steps{
    margin: 20px;
    padding 10px;
    font-size: 30px;
    color:beige
}

.blank-container{
    height: 100%;
    width: 80%;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    background-color:#596475 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
}

.ingredients, .steps{
    width: 90%;
    height: 100%;
    background-color: #E0E1DD;
    border-radius: 30px;
    color: black;
}
